extends ../layout

block styles
	link(href="/css/login.css", rel="stylesheet")

block content
	div.container
		div.jumbotron.col-md-8.col-md-offset-2
			.card.card-container
				img#profile-img.profile-img-card(src='//ssl.gstatic.com/accounts/ui/avatar_2x.png')
				p#profile-name.profile-name-card
					p Name