extends ../layout

block styles
	link(href="/css/login.css", rel="stylesheet")

block scripts
	script(src='/js/user.js')
	script.
		user.fetchData();

block content
	div.container
		div.jumbotron.col-md-8.col-md-offset-2
			.card#user.card-container
				img.profile-img-card(v-bind:src="email.image")
				form#userform.form-signin
					input.form-control(v-model="email.value",type='email', placeholder='Email address', required='' disabled)
					input.form-control(v-model="display", type='text', placeholder='Display Name', required='', autofocus='')
					input.form-control(v-model="oldPassword", type='password', placeholder='Old Password', required='')
					input.form-control(v-model="newPassword",type='password', placeholder='New Password', required='')
					input.form-control(v-model="chkPw",type='password', placeholder='RetypePassword', required='')
					button.btn.btn-primary(v-on:click="chkSaveInfo" type='submit') Save Info
					br
					a.btn.btn-default.half(href='/list') View your lists
					a.btn.btn-default.half(href='/list/create') Create a new list