extends ../layout

block styles
	link(href="/css/login.css", rel="stylesheet")

block content
	div.container
		div.jumbotron.col-md-8.col-md-offset-2
			.card.card-container
				img.profile-img-card(src='//ssl.gstatic.com/accounts/ui/avatar_2x.png')
				p.profile-name-card
					form.form-signin
						input.form-control(type='email', placeholder='Email Address', required='', autofocus='')
						input.form-control(type='password', placeholder='Password', required='')
						input.form-control(type='password', placeholder='Repeat Password', required='')
						button.btn.btn-primary(type='submit') Register
					span Have an account? 
						a.forgot-password(href='/user/login') Login Here